<a href="https://colab.research.google.com/github/tony45678/IR-evaluation/blob/master/IR_evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Precision & Recall


*   Precision : fraction of retrieved docs that are relevant 
                - reflects the ability to retrieve top-ranked
                  documents that are mostly relevant. 
                - Precision = tp / (tp +fp)
*   Recall : fraction of relevant docs that are retrieved
                - reflects the ability of the search to find 
                  all of the relevant items in the corpus.
                - Recall = tp / (tp+fn)

# Import Libary

In [0]:
import pandas as pd
import numpy as np

In [185]:
data = pd.read_csv("dataset.csv") # 1.txt to 10.txt chritopher nolan's movies, 11.txt to 20.txt james Cameron's movies
df= pd.DataFrame(data)
df.columns =["Script","Fuck","Shit","Dick","Asshole","Bastard","Bitch","Damn","Cunt","Bollocks","Bugger","Bloody hell","Choad","Crikey","Rubbish","Shag","Wanker","Twawt"]
df

      Script  Fuck  Shit  Dick  Asshole  ...  Crikey  Rubbish  Shag  Wanker  Twawt
0     1.txt      1     1     0        0  ...       0        0     0       0      1
1     2.txt      1     1     0        0  ...       0        0     0       0      0
2     3.txt      1     1     0        1  ...       0        0     1       0      0
3     4.txt      0     0     0        1  ...       0        0     0       0      0
4     5.txt      0     0     0        0  ...       0        0     0       0      0
5     6.txt      0     0     0        0  ...       0        0     0       0      0
6     7.txt      0     0     0        0  ...       0        0     0       0      0
7     8.txt      0     0     0        0  ...       0        0     0       0      0
8     9.txt      0     0     0        0  ...       0        0     0       0      0
9    10.txt      1     1     0        0  ...       0        1     0       0      0
10   11.txt      0     1     0        1  ...       0        0     0       0      0
11   12.txt      1     1     0        1  ...       0        0     0       0      0
12   13.txt      1     1     0        1  ...       0        0     1       0      0
13   14.txt      0     1     1        0  ...       0        0     0       0      0
14   15.txt      1     1     0        0  ...       0        0     0       0      0
15   16.txt      0     1     0        0  ...       0        0     0       0      0
16   17.txt      0     1     0        0  ...       0        0     0       0      0
17   18.txt      0     1     1        0  ...       0        0     0       0      0
18   19.txt      1     1     0        1  ...       0        0     1       0      0
19   20.txt      0     1     0        1  ...       0        0     0       0      0

[20 rows x 18 columns]

In [186]:
same = df.pivot_table(index=['Fuck'], aggfunc='size')  # finding duplicates
print(same)

Fuck
0    12
1     8
dtype: int64

In [187]:
same = df.pivot_table(index=['Shit'], aggfunc='size')  # finding duplicates
print(same)

Shit
0     6
1    14
dtype: int64

In [0]:
same = df.pivot_table(index=['Dick'], aggfunc='size')  # finding duplicates
print(same)

Dick
0    18
1     2
dtype: int64

In [0]:
same = df.pivot_table(index=['Asshole'], aggfunc='size')  # finding duplicates
print(same)

Asshole
0    13
1     7
dtype: int64

In [0]:
same = df.pivot_table(index=['Bastard'], aggfunc='size')  # finding duplicates
print(same)

Bastard
0    13
1     7
dtype: int64

In [0]:
same = df.pivot_table(index=['Bitch'], aggfunc='size')  # finding duplicates
print(same)

Bitch
0     9
1    11
dtype: int64

In [0]:
same = df.pivot_table(index=['Damn'], aggfunc='size')  # finding duplicates
print(same)

Damn
0     6
1    14
dtype: int64

In [0]:
same = df.pivot_table(index=['Cunt'], aggfunc='size')  # finding duplicates
print(same)

Cunt
0    18
1     2
dtype: int64

In [0]:
same = df.pivot_table(index=['Bollocks'], aggfunc='size')  # finding duplicates
print(same)

Bollocks
0    20
dtype: int64

In [0]:
same = df.pivot_table(index=['Bugger'], aggfunc='size')  # finding duplicates
print(same)

Bugger
0    20
dtype: int64

In [0]:
same = df.pivot_table(index=['Bloody hell'], aggfunc='size')  # finding duplicates
print(same)

Bloody hell
0    10
1    10
dtype: int64

In [0]:
same = df.pivot_table(index=['Choad'], aggfunc='size')  # finding duplicates
print(same)

Choad
0    20
dtype: int64

In [0]:
same = df.pivot_table(index=['Crikey'], aggfunc='size')  # finding duplicates
print(same)

Crikey
0    20
dtype: int64

In [0]:
same = df.pivot_table(index=['Rubbish'], aggfunc='size')  # finding duplicates
print(same)

Rubbish
0    19
1     1
dtype: int64

In [0]:
same = df.pivot_table(index=['Shag'], aggfunc='size')  # finding duplicates
print(same)

Shag
0    17
1     3
dtype: int64

In [0]:
same = df.pivot_table(index=['Wanker'], aggfunc='size')  # finding duplicates
print(same)

Wanker
0    20
dtype: int64

In [0]:
same = df.pivot_table(index=['Twawt'], aggfunc='size')  # finding duplicates
print(same)

Twawt
0    19
1     1
dtype: int64

# Precision , Recall, F-Score



*   Since, my dataset have already been s

In [194]:
Precision_Fuck =   8 / 20;          # Precision = No. of relevant documents retrieved / No. of total documents retrieved
Recall_Fuck =  8 /20;               # Recall = No. of relevant documents retrieved / No. of total relevant documents
F_Score_Fuck = 2* Precision_Fuck * Recall_Fuck / Precision_Fuck + Recall_Fuck 
print('Fuck :') 
print('Precision :' ,format(Precision_Fuck,"%"))
print('Recall :',format(Recall_Fuck,"%"))
print('F_Score :', round(F_Score_Fuck))
print('-----------------')
print('Shit :') 
Precision_Shit =   14 / 20;          
Recall_Shit =  14 /20;              
F_Score_Shit = 2* Precision_Shit * Recall_Shit / Precision_Shit + Recall_Shit  
print('Precision :' ,format(Precision_Shit,"%"))
print('Recall :',format(Recall_Shit,"%"))
print('F_Score :', round(F_Score_Shit))
print('-----------------')
print('Dick :') 
Precision_Dick = 2/ 20;          
Recall_Dick = 2/20;              
F_Score_Dick = 2* Precision_Dick * Recall_Dick / Precision_Dick + Recall_Dick  
print('Precision :' ,format(Precision_Dick,"%"))
print('Recall :',format(Recall_Dick,"%"))
print('F_Score :', round(F_Score_Dick))
print('-----------------')
print('Asshole :') 
Precision_Asshole =  7/ 20;          
Recall_Asshole = 7/20;              
F_Score_Asshole = 2* Precision_Asshole * Recall_Asshole / Precision_Asshole + Recall_Asshole 
print('Precision :' ,format(Precision_Asshole,"%"))
print('Recall :',format(Recall_Asshole,"%"))
print('F_Score :', round(F_Score_Asshole))
print('-----------------')
print('Bastard :') 
Precision_Bastard =  7/ 20;          
Recall_Bastard = 7/20;              
F_Score_Bastard = 2* Precision_Bastard * Recall_Bastard / Precision_Bastard + Recall_Bastard  
print('Precision :' ,format(Precision_Bastard,"%"))
print('Recall :',format(Recall_Bastard,"%"))
print('F_Score :', round(F_Score_Bastard))
print('-----------------')
print('Bitch :') 
Precision_Bitch =  11/ 20;          
Recall_Bitch = 11/20;              
F_Score_Bitch = 2* Precision_Bitch * Recall_Bitch  / Precision_Bitch + Recall_Bitch  
print('Precision :' ,format(Precision_Bitch,"%"))
print('Recall :',format(Recall_Bitch,"%"))
print('F_Score :', round(F_Score_Bitch))
print('-----------------')
print('Damn :') 
Precision_Damn =  14/ 20;          
Recall_Damn = 14/20;              
F_Score_Damn = 2* Precision_Damn * Recall_Damn / Precision_Damn + Recall_Damn  
print('Precision :' ,format(Precision_Damn,"%"))
print('Recall :',format(Recall_Damn,"%"))
print('F_Score :', round(F_Score_Damn))
print('-----------------')
print('Cunt :') 
Precision_Cunt =  2/ 20;          
Recall_Cunt = 2/20;              
F_Score_Cunt = 2* Precision_Cunt * Recall_Cunt / Precision_Cunt + Recall_Cunt  
print('Precision :' ,format(Precision_Cunt,"%"))
print('Recall :',format(Recall_Cunt,"%"))
print('F_Score :', round(F_Score_Cunt))
print('-----------------')
print('Bloody Hell :') 
Precision_BloodyHell = 10/ 20;          
Recall_BloodyHell = 10/20;              
F_Score_BloodyHell = 2* Precision_BloodyHell * Recall_BloodyHell / Precision_BloodyHell + Recall_BloodyHell  
print('Precision :' ,format(Precision_BloodyHell,"%"))
print('Recall :',format(Recall_BloodyHell,"%"))
print('F_Score :', round(F_Score_BloodyHell))
print('-----------------')
print('Rubbish :') 
Precision_Rubbish = 1 / 20;          
Recall_Rubbish = 1/20;              
F_Score_Rubbish = 2* Precision_Rubbish * Recall_Rubbish / Precision_Rubbish + Recall_Rubbish  
print('Precision :' ,format(Precision_Rubbish,"%"))
print('Recall :',format(Recall_Rubbish,"%"))
print('F_Score :', round(F_Score_Rubbish))
print('-----------------')
print('Shag :') 
Precision_Shag =  3/ 20;          
Recall_Shag = 3/20;              
F_Score_Shag = 2* Precision_Shag * Recall_Shag / Precision_Shag + Recall_Shag  
print('Precision :' ,format(Precision_Shag,"%"))
print('Recall :',format(Recall_Shag,"%"))
print('F_Score :', round(F_Score_Shag))
print('-----------------')
print('Twawt :') 
Precision_Twawt =  1/ 20;          
Recall_Twawt = 1/20;              
F_Score_Twawt = 2* Precision_Twawt * Recall_Twawt / Precision_Twawt + Recall_Twawt  
print('Precision :' ,format(Precision_Twawt,"%"))
print('Recall :',format(Recall_Twawt,"%"))
print('F_Score :', round(F_Score_Twawt))

Fuck :
Precision : 40.000000%
Recall : 40.000000%
F_Score : 1
-----------------
Shit :
Precision : 70.000000%
Recall : 70.000000%
F_Score : 2
-----------------
Dick :
Precision : 10.000000%
Recall : 10.000000%
F_Score : 0
-----------------
Asshole :
Precision : 35.000000%
Recall : 35.000000%
F_Score : 1
-----------------
Bastard :
Precision : 35.000000%
Recall : 35.000000%
F_Score : 1
-----------------
Bitch :
Precision : 55.000000%
Recall : 55.000000%
F_Score : 2
-----------------
Damn :
Precision : 70.000000%
Recall : 70.000000%
F_Score : 2
-----------------
Cunt :
Precision : 10.000000%
Recall : 10.000000%
F_Score : 0
-----------------
Bloody Hell :
Precision : 50.000000%
Recall : 50.000000%
F_Score : 2
-----------------
Rubbish :
Precision : 5.000000%
Recall : 5.000000%
F_Score : 0
-----------------
Shag :
Precision : 15.000000%
Recall : 15.000000%
F_Score : 0
-----------------
Twawt :
Precision : 5.000000%
Recall : 5.000000%
F_Score : 0

# Average Precision



*   Rank 1 : Precision Score  above or equal to 50 % 
*   Rank 2 : Precision Score below 50 %

In [201]:
Rank1_AvgP = (0.7+0.55+0.5) / 20
print('Rank_1_AvgP :',format(Rank1_AvgP,"%"))
Rank2_AvgP = (0.4+0.1+0.35+0.35+0.1+0.05+0.15+0.05) / 20
print('Rank_2_AvgP :', format(Rank2_AvgP,"%"))

Rank_1_AvgP : 8.750000%
Rank_2_AvgP : 7.750000%

# Mean Average Precision (MAP)




*   Total Queries = 17



---

*   Fuck = 40 %
*   Shit = 70 %
*   Dick = 10 %
*   Asshole = 35 %
*   Bastard = 35 %
*   Bitch = 55 %
*   Damn = 70 %
*   Cunt = 10 %
*   Blood Hell = 50 %
*   Rubbish = 5 %
*   Shag = 15 %
*   Twawt = 5 %

In [206]:
Mean_AvgP = (0.4+0.7+0.1+0.35+0.35+0.55+0.7+0.1+0.5+0.05+0.15+0.05) / 17
print('Mean_AvgP :',format(Mean_AvgP,"%"))

Mean_AvgP : 23.529412%